<%= body_class 'thank-you-page' %>

<div class="subheader">
</div>

<section class="container">
  <div class="thank-you">
    <h3>Thank you for purchasing a template from TemplatesDream!</h3>
    <p>Click <a href="#">here</a> to start editing your templates, and sign in<br/>
    using your Wix account credentials.</p>
    <p>You will also get an email from Wix with some useful info.</p>
    <div class="separator"></div>
  </div>
  <div class="eye-candy"></div>
</section>
