<%= body_class 'about-page' %>

<div class="subheader">
  <h2>About</h2>
</div>

<section class="container">
  <div class="about">
    <div class="marketing-point who">
      <h3>Who we are</h3>
      <p>TemplatesDream is a site on a mission, to bring affordable and beautiful HTML5 templates to everyone!</p>
      <p>We want you to find the perfect website for you.
      Whether it be a professional looking business website or a stand out music site for a band,
      we have a template that will match your needs.</p>
      <p>All our templates are built by graphic and web designers who specialize in designing websites using the Wix editor.</p>
      <div class="eye-candy"></div>
    </div>
    <div class="separator"></div>
    <div class="marketing-point why">
      <h3>Why?</h3>
      <p>Because it's an easy to use website builder that produces stunning results It's also a template editor that requires
      no coding or tech knowledge, meaning that you can easily customize the design, add your own content and have a professional
      looking website without any added hassle.</p>
      <div class="eye-candy"></div>
    </div>
  </div>
</section>
