<%= body_class 'how-it-works-page' %>

<div class="subheader">
  <h2>How it works?</h2>
</div>

<section class="container">
  <div class="how-it-works">
    <div class="marketing-point what-are-templates-dream">
      <h3>What are TemplatesDream</h3>
      <p>We offer beautifully designed and affordable HTML5 website templates that you can customize fully using Wix.</p>
      <div class="eye-candy"></div>
    </div>
    <div class="separator"></div>
    <div class="marketing-point what-is-wix">
      <h3>What is Wix?</h3>
      <p>Wix is an online website builder that lets you customize your template inside their easy-to-use, drag and drop editor. No coding or tech knowledge is needed</p>
      <p class="advice">Click <a href="http://www.wix.com/">here</a> to go to the Wix website
      <div class="eye-candy"></div>
    </div>
    <div class="separator"></div>
    <div class="marketing-point what-do-i-get">
      <h3>What do I get when I purchase a template with TemplatesDream?</h3>
      <ul>
        <li>The template will immediately be added to your Wix account.</li>
        <li>You will be able to edit it freely in the Wix editor</li>
        <li>You will also have the right to use any of the media files in the template</li>
        <li>You will get free hosting with Wix</li>
        <li>Connect your own domain and remove Wix adds by upgrading to one of the <a href="http://www.wix.com/">Wix premium plans</a>
      </ul>
      <div class="eye-candy"></div>
    </div>
    <div class="separator"></div>
    <div class="marketing-point what-now">
      <h3>So what now?</h3>
      Browse through our templates and pick the right one for your.
      <ul>
        <li>Select your template and pick the right one for you.</li>
        <li>After you pay for your template you can start customizing it in the Wix editor</li>
      </ul>
      <p class="advice">For any questions regarding the Wix editor, please click <a href="http://www.wix.com/">here</a>.
      <div class="eye-candy"></div>
    </div>
  </div>
</section>

